{% extends 'base.html.twig' %}

{% block body %}
    <div class="uk-grid uk-grid-collapse">
        <div class="uk-width-1-2@m">
            <nav class="uk-navbar-container uk-visible@m" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href=""><img src="{{ asset('img/logo-b.svg') }}" alt="5ive"><span class="uk-margin-small-left black">five</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <nav class="uk-navbar-container fv-responsive-nav uk-hidden@m" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li class="uk-margin-medium-left">
                            <a href=""><img src="{{ asset('img/logo-b.svg') }}" alt="5ive"><span class="uk-margin-small-left">five</span></a>
                        </li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav uk-visible@s">
                        <li><a href="">Télécharger l'application</a></li>
                        <li><a href="">Notre équipe</a></li>
                    </ul>
                    <li class="uk-hidden@s uk-margin-medium-right"><a uk-toggle="target: #offcanvas-flip"><span class="uk-icon" uk-icon="menu"></span></a></li>
                </div>
            </nav>
            <div class="uk-flex uk-flex-column uk-flex-center uk-width-2-3@m uk-width-3-4 uk-margin-auto fv-hero">
                <h1 class="uk-width-4-5@m">L'organisation de tes matchs simplifée</h1>
                <p>Fais par des passionés, pour les passionnés.<br>
                    Five est le meilleur moyen de trouver des coéquipiers pour un match de foot sur tous types de terrains</p>
                <div class="uk-grid uk-grid-collapse uk-child-width-1-2@m uk-margin-large-top">
                    <div class="fv-button--app">
                        <a href=""><img src="{{ asset('img/button-background.png') }}" alt=""></a>
                    </div>
                    <div class="fv-button--apple">
                        <a href=""><img src="{{ asset('img/app_store-b.png') }}" class="" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section-image uk-background-norepeat uk-background-cover uk-background-bottom-center hero uk-position-relative uk-width-1-2@m" style="background: url('{{ asset('img/hero-background.jpg') }}') no-repeat scroll 100% 100% / cover; min-height: calc(100vh);">
            <nav class="uk-navbar-container uk-visible@m" uk-navbar>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li><a href="">Télécharger l'application</a></li>
                        <li><a href="">Notre équipe</a></li>
                    </ul>
                </div>
            </nav>
            <div class="uk-flex uk-flex-middle uk-flex-center fv-logo-w">
                <img class="uk-width-2-5" src="{{ asset('img/logo-w.svg') }}" alt="5ive">
            </div>
            <div class="uk-position-bottom-center uk-margin-large-bottom uk-width-5-6 fv-line"></div>
        </div>
    </div>

    <div class="fv-separator"></div>

    <section class="fv-milestones">
        <div class="uk-container uk-container-large">
            <div class="uk-grid uk-child-width-1-2@m uk-padding-large uk-padding-remove-horizontal uk-margin-large-top uk-flex-middle">
                <div>
                    <div class="uk-width-2-3@m uk-width-3-4@s">
                        <h2>Créé ton profil et gagne des points !</h2>
                        <p>Note tes coéquipiers à chaque fin de matchs, gagne des points et monte de niveaux ! Sois le meilleur joueur</p>
                    </div>
                </div>
                <div class="uk-flex uk-flex-column uk-flex-middle">
                    <img src="img/cloud.jpg" class="uk-width-3-5@m uk-width-3-4@s" alt="Cloud 5ive">
                </div>
            </div>
            <div class="uk-grid uk-child-width-1-2@m uk-padding-large uk-padding-remove-horizontal uk-margin-large-top uk-margin-large-bottom uk-flex-middle">
                <div>
                    <div class="uk-width-3-4@m uk-width-3-4@s uk-text-right uk-flex uk-flex-column uk-align-right">
                        <h2>Rencontre des joueurs à proximité</h2>
                        <div class="uk-width-1-1">
                            <p class="uk-width-4-5 uk-align-right">Active ta géolocalisation et trouve les matchs les plus proches de chez toi</p>
                        </div>
                        <div>
                            <img class="uk-width-1-6" src="img/geolocalisation.png" alt="géolocalisation 5ive">
                        </div>
                    </div>
                </div>
                <div class="uk-flex-first@m">
                    <img src="img/meet-players.png" class="uk-width-3-5@m uk-width-3-4@s" alt="Rencontre joueurs 5ive">
                </div>
            </div>
            <div class="uk-grid uk-child-width-1-2@m uk-padding-large uk-padding-remove-horizontal uk-flex-middle">
                <div>
                    <div class="uk-width-2-3@m uk-width-3-4@s">
                        <h2>Organise toi avant l'heure décisive</h2>
                        <p>Grâce à la messagerie interne</p>
                    </div>
                </div>
                <div class="uk-flex uk-flex-column uk-flex-middle">
                    <img src="img/organize-game.png" class="uk-width-3-5@m uk-width-3-4@s" alt="Organisation 5ive">
                </div>
            </div>
        </div>
    </section>

    <footer class="uk-position-relative uk-margin-large-top">
        <div class="uk-position-center uk-text-center">
            <h3>Télécharge l'app maintenant</h3>
            <a href=""><img src="img/app_store-w.png" alt="" class="uk-width-1-2"></a>
        </div>
        <img src="img/footer-background.png" class="uk-visible@s" alt="">
        <img src="img/footer-mobile.png" class="uk-hidden@s" alt="">
    </footer>

    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-default uk-nav-center uk-margin-auto-vertical">
                <li class="uk-margin-large-bottom"><a href="#"><img src="img/logo-b.svg" class="uk-width-1-3" alt=""></a>five</li>
                <li><a href="#">Télécharger l'application</a></li>
                <li><a href="#">Notre équipe</a></li>
                <li class="uk-nav-divider uk-margin"></li>
                <li><a href=""><img src="img/button-background.png" class="uk-width-2-3" alt=""></a></li>
                <li><a href=""><img src="img/app_store-w.png" class="uk-width-2-3" alt=""></a></li>
            </ul>
        </div>
    </div>
{% endblock %}
